<h1 class = "horror">{{user.username}}'s friends</h1>

  <form action="/auth/myFriends" method="post">
        <div class="form-group">
          <label for="name">Search</label>
          <input type="text" name="name" class="name">
          <button type="submit">Search</button>
        </div>
  </form>
  <div class="container">
    <div class="row align-items-center">
{{#each user.friends}}
      <div class="col-6">
      <h3 class = "yeah"><a class ="space" href="/profile/{{_id}}">{{username}}</a></h3> 
      </div>
      <div class="col-6">
      <a class ="space" href="/profile/{{_id}}"><img class = "prof-photo"src={{photo}}> </a> 
      </div>

{{/each}}

      </div>
    </div>


<style>.prof-photo{width:30%;margin:20px}.yeah{display:block; padding: 20px;}</style>