<h1>Plan</h1>

{{#with plans}}
<h2>Place: {{place}}</h2>
<p>Date: {{date}}</p>
<p>Description: {{description}}</p>
<p>Created by:{{creatorId.username}}</p>
<h3>People going</h3>
{{#each people}}
<p><a href="/auth/profile/{{_id}}" class = "btn btn-dark">{{username}}</a></p>
{{/each}}
<h4>Comments</h4>
{{#each comments}}
<p><a href="/auth/profile/{{creatorId}}">{{creatorName}}</a>: {{comment}} </p>
{{/each}}
{{/with}}
<form action = "/auth/new-comment/{{plans._id}}" method = "post">
<label for="comment-input">Comment</label>
<input type="textarea" name ="comment" class = "form-control" id = "comment-input">
<button type ="submit">Comment</button>
</form>
<a href="/auth/new-plan">Create new plan</a>
<a href="/" class="btn btn-sm btn-dark">Inicio</a> 