<h1>Plans</h1>

{{#each plans}}
<h2>{{place}}</h2>
<p>{{date}}</p>
<p>{{description}}</p>
<p>{{creatorId}}</p>
<p>{{people}}</p>
<a href="/auth/join/{{_id}}" class="btn btn-sm btn-dark">Join</a> 

{{/each}}

