

<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1>Bewave</h1>
    </div>
       <div class="col-md-4">

      <form action="/search/address" method="get">
        <h2>Introduce spot to get wave height</h2>
        <div class="form-group">
          <label for="address-input">Address</label>
          <input name="address" type="text" class="form-control" id="address-input">
        </div>

        <button type="submit" class="btn btn-dark button-submit"  id="submit-address">Search address</button>

        <figure id="map"></figure>
 
        <h3>Result: </h3><p id = "sumWaveHeight">{{sumWaveHeight}} </p>
                    </h3><p>{{sumSwellHeight}}  </p>
                    </h3><p>{{sumSwellDirection}}  </p>
                    </h3><p>{{sumWaterTemperature}}  </p>
                    </h3><p>{{sumAirTemperature}} </p>

	
      </form>
    </div>
  </div>
</div>
  {{!-- <h2 id = "coordinates"></h2>
  <h1>Countries Info</h1>
   <input id="theInput" type="text">
   <button id="theButton">Get the country</button> --}}
  {{!-- <script>
    document.getElementById('theButton').onclick = () => {
    alert('ta los huevos')}
  </script> --}}
  <script src="/javascripts/script.js"></script>